<div class="col-md-4 aside">
  <!-- Aside tabs -->
<div class="w3-card aside-item comment-aside">
  <!--tab header-->
  <div class="tab-title">
    <div class="comment-tab-title"><h4>Most Commented</h4></div>
  </div>
  <hr>
  <!--Popular tab-->
  <div class="w3-container w3-white tabs" id="Popular">
    <!--template collection goes here-->
      <% popularDoc.forEach(function(post){%>
        <% let PostTitle=post.title %>
        <% if(PostTitle.length > 65){%>
          <%PostTitle=PostTitle.substr(0,65)+"..."%>
        <%}%>
        <div class="comment-tab-text">
          <p class=""><a href="/category/<%= post.category %>/<%= post._id %>"><%= PostTitle %></a></p>
        </div>  
      <%})%>
  </div>
</div>
<!-- Side Widget -->
<div class="w3-card card">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
      <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Lyrics</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Video</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Music</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Jobs</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Events</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
      </p>
    </div>
</div>

</div>


