<div class="footer-padding"></div>
  <div class="footer">
    <table>
      <tr>
        <th>Contact Us</th>
        <th>Site Link</th>
        <th>Subscribe to our Newsletter</th>
      </tr>
      <tr>
        <td>+234777994885948</td>
        <td>About Us</td>
        <td rowspan="3">
          <p>Be up to date on trending issues locally and globally<br>Suscribe to our Newsletter!</p>
          <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
              <input type="text" class="form-control" placeholder="Email Address">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
          </form>
        </td>
      </tr>
      <tr>
        <td>gtTrends@gmail.com</td>
        <td>Contact</td>
      </tr>
      <tr>
        <td></td>
        <td>FAQ</td>
      </tr>
    </table>
    <div class="socials">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-twitter"></i>
    </div>
  </div>
</div>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="index.js" charset="utf-8"></script>
</body>
</html>
